body{ background-color: #FAF276; }
h1{ font-family: Trebuchet MS; }
h2,h3,h4{ font-family: Verdana; }
hr{ background-color: #040404;}
h6{ font-family: Times New Roman; font-size: medium; }
h5{ font-family: Verdana; font-size: medium; }
